<h1>Contato</h1>

<p ng-show="mensagem" class="text-{{mensagem.class}}">
    {{mensagem.texto}}
</p>

<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" required ng-model="contato.nome" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="nome">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required ng-model="contato.email" placeholder="email@exemplo.com.br"
                />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#/" class="btn btn-default">Voltar</a>
        </div>
</form>