<div class="jumbotron">
    <h1 class="text-center">Bem-vindo ao Contatooh</h1>
</div>

<p ng-show="mensagem.texto" class="text-{{mensagem.class}}">
    {{mensagem.texto}}
</p>

<button class="btn btn-primary" ng-click='incrementa()'>Novo </button>
<input class="input-sm" style="margin-left: 2em" ng-model="filtro" type="search" placeholder="nome" />
<span ng-show="contatos.length" class="text-info pull-right"> Contatos cadastrados: {{contatos.length}}</span>
<span class="text-danger pull-right" ng-hide="contatos.length">
    Não há contatos cadastrados
</span>
</br></br>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th class="text-center">Ação</th>
        </tr>
        <tr ng-repeat="c in contatos | filter: filtro">
            <td><a>{{c.nome}}</a></td>
            <td>{{c.email}}</td>
            <td class="text-center">
                <button ng-click="remove(c)" class="btn btn-warning">Remover</button>
            </td>
        </tr>
    </table>
</div>