<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Bem-vindo!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Bem-vindo ao <%= nome %></h1>
        <p>Esta é uma página HTML estática servida pelo Express.</p>
    </body>
</html>